html {
    scroll-behavior: smooth;
    overflow: hidden;
}
.main-header {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
    /*background: #000000;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #787878, #000000);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #737373, #0d0d0d); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background-image: url('./imgs/night-background-2560x1600-desktop.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-pic {
    height: 350px;
    padding-top: 5em;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text1 {
    background-color: black;
    /*opacity: .8;*/
    width: 100%;
    border-radius: 1px;
    perspective: 1px;
    color: white;
    top: 0;
    left: 0;
    position: relative;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    background-size: cover;
    transform-style: preserve-3d;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text1 h1 {
    color: white;
    font-size: 30px;
    padding: 0em;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
}

.social i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

.projects-grid {
    display: flex;
    width: 50%;
    margin: auto;
}

.my-contact {
    margin: auto;
    background: #acacac;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 750px;
    background: white;
    color: black;
    margin-bottom: 20px;
}

.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 50px;
    padding-right: 3rem;
    padding-left: 8rem;
}

.NavLink {
    transition: transform 0.2s;
}

.NavLink:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: transform 0.2s;
}

.Badge {
    transition: transform 0.3s;
}

.banner-text p {
    padding: 2em;
    transition: transform 0.3s;
}

.Badge:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.parallax {
    background-color: #61b1ef;
}


.AboutMe {
    /* The image used */
    background-image: url('./imgs/aboutMeBackground.jpg');

    /* Full height */
    height: 100%;
    top: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: brightness(90%); /* Safari 6.0 - 9.0 */
    filter: brightness(90%);

   transform: translateZ(-1px) scale(1.0);
}


.light {
    /* The image used */
    background-image: url('https://wpblink.com/sites/default/files/wallpaper/abstract/65826/blur-wallpapers-hd-65826-1115673.png');
    /*background-image: url('http://loft14design.com/images/bg_portfolio_greybrick.jpg');*/

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones.*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.Card {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6bc1ff;
}

.Card:hover .overlay {
    opacity: 0.7;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: #ffffff;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
}

.bg-text h1 {
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 90px;
    color: #ffffff;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
